.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-direction: column;

  .tools {
    background: linear-gradient(-125deg, #57bdbf, #2f9de2);
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 0 8px;
    -webkit-app-region: drag;

    .sf-title {
      width: 160px;
      letter-spacing: 1px;
      background-image: url("assets/images/ss.png");
      background-repeat: no-repeat;
      padding-left: 32px;
      background-position: left;
    }
    .songSearch{
      -webkit-app-region: no-drag;
      width: 250px;
      input{
        width: 100%;
      }
    }

    .tools-center {
      flex: 1;
    }

    .sf-title-right {
      text-align: right;
    }

    .sf-title-right-actions {
      ul {
        padding: 0;
        margin: 0;
        user-select: none;
        list-style: none;
        display: flex;

        li {
          -webkit-app-region: no-drag;

          img {
            margin: 0 8px;
            width: 12px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .left-list {
    width: 200px;
    background: #fafafa;
  }
}
