<div class="container">
  <!--  -->
  <div class="tools">
    <div class="d-flex flex-row" style="height: inherit">
      <div style="width: 400px;">
        <!-- <div class="d-inline-block sf-title">
          松鼠音乐
        </div>
        <div class="d-inline-block songSearch">
          <input class="ant-input " type="input" />
        </div> -->
      </div>
      <div class="tools-center"></div>
      <div class="sf-title-right">
        <div class="sf-title-right-actions">
          <ul>
            <li><img (click)="onMinEvent()" src="assets/images/min.png" /></li>
            <li><img (click)="onMaxEvent()" src="assets/images/max.png" /></li>
            <li><img (click)="onCloseEvent()" src="assets/images/close.png" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="d-flex flex-1">
    <div class="me-list scrollbar">
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>
      <span class="d-block">1</span>
      <span class="d-block">2</span>
      <span class="d-block">3</span>

    </div>
    <div>

    </div>
  </div>
</div>
