<div class="container">
  <!--  -->
  <div class="tools">
    <div class="d-flex flex-row" style="height: inherit">
      <div>
        <div class="d-inline-block sf-title">
          我的音乐
        </div>
        <div class="d-inline-block songSearch">
          <input #searchValue class="ant-input" (keyup.enter)="onSearch(searchValue.value)" type="input" placeholder="搜索音乐" />
        </div>
      </div>
      <div class="tools-center"></div>
      <div class="sf-title-right">
        <div class="sf-title-right-actions">
          <ul>
            <li><img (click)="onMinEvent()" src="assets/images/min.png" /></li>
            <li><img (click)="onMaxEvent()" src="assets/images/max.png" /></li>
            <li><img (click)="onCloseEvent()" src="assets/images/close.png" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- left -->
  <div class="d-flex flex-1">
    <!-- left-menu -->
    <div class="left-list height-100 d-flex flex-column">
      <div class="flex-1 scrollbar">
        <app-menu></app-menu>
      </div>
    </div>
    <!-- center-body -->
    <div class="flex-1">
      <!-- {{dataList | json}} -->
      <app-search-song-list (onDbClick)="onPlaySong($event)" [(ngModel)]="searchv"></app-search-song-list>
    </div>
  </div>
  <!-- bottom -->
  <div>
    <app-aplayer [SongInfo]="playSongInfo"></app-aplayer>
  </div>
</div>
